/* ==========================================================
 * Basic styles
 * ========================================================== */

 html {
 	height: 100%;
 }

 body {
 	height: 100%;
 	background-color: #fff;
 	color: #828282;

 	font-family: "Ubuntu", sans-serif;
 	font-size: 16px;
 	font-weight: 400;
 }

 section {
 	position: relative;
 }

 h2 {
 	margin-top: 0;

 	font-family: "Montserrat", sans-serif;
 	font-size: 30px;
 	text-transform: uppercase;
 }

 a {
 	color: #2cc7c1;

 	font-family: "Montserrat", sans-serif;
 	font-size: 17px;
 	font-weight: 700;
 }

 img {
 	max-width: 100%;
 	height: auto;
 }

 .btn {
 	margin: 0 10px;
 	padding: 10px 20px;

 	border: none;

 	color: #fff;

 	font-family: "Montserrat", sans-serif;
 	font-size: 17px;
 	text-transform: uppercase;

 	transition: 0.5s;
 }

/* ==========================================================
 * Header 
 * ========================================================== */

 .header {
 	height: 100%;
 	min-height: 500px;
 	background: url(../img/2.jpg) center no-repeat;
 	background-size: cover;
 }

 .header-table {
 	width: 100%;
 	height: 100%;
 	display: table;
 }

 .header-row {
 	display: table-row;
 }

 .header-cell {
 	display: table-cell;

 	text-align: center;
 	vertical-align: middle;
 }

 .header-center {
 	/*Focus on the logo width*/
 	max-width: 600px;
 	display: inline-block;
 }

 .header-center h1 {
 	color: #fff;

 	font-family: "Montserrat", sans-serif;
 	font-size: 31px;
 	font-weight: 700;
 	text-transform: uppercase;
 }

 .header-center p {
 	color: #fff;

 	font-size: 20px;
 }

 .header-center .btn-primary {
 	background-color: #7ea4e8;
 }

 .header-center .btn-primary:hover {
 	background-color: #6787c2;
 }

 .header-center .btn-default {
 	background-color: #6a7079;
 }

 .header-center .btn-default:hover {
 	background-color: #474c52;
 	color: #fff;
 }

/* ==========================================================
 * Speakers
 * ========================================================== */

 .speakers {
 	padding: 90px 0;

 	border-bottom: 2px solid #f0f0f1;
 }

 .speakers h2 {
 	color: #828689;
 }

 .speakers .large {
 	margin-bottom: 20px;

 	color: #828689;
 	
 	font-size: 22px;
 }

 .speakers .goals-tab {
 	border: 3px solid #ececec;
 	border-radius: 2px;
 }

 .speakers .goals-tab .nav-tabs li:not(.active) {
 	background-color: #ececec;
 }

 .speakers .goals-tab .nav-tabs li a {
 	color: #abb1ba;
 }

 .speakers .goals-tab .nav-tabs li.active a {
 	color: #9097a1;
 }

 .speakers .goals-tab .nav-tabs.nav-justified li a,
 .speakers .goals-tab .nav-tabs.nav-justified li.active a,
 .speakers .goals-tab .nav-tabs.nav-justified li.active a:focus,
 .speakers .goals-tab .nav-tabs.nav-justified li.active a:hover {
 	border: none;
 	border-radius: 0;

 	font-family: "Ubuntu", sans-serif;
 	font-size: 18px;
 	font-weight: 700;
 	text-transform: uppercase;
 	outline: 0;
 }

 .speakers .goals-tab .tab-content {
 	padding: 25px 20px;
 }

 .speakers .goals-tab .tab-content ul {
 	padding-left: 10px;
 }

 .speakers .goals-tab .tab-content ul li {
 	line-height: 30px;
 }

 .speakers .goals-tab .tab-content ul li i {
 	margin-right: 15px;

 	color: #2cc7c1;

 	font-size: 13px;
 }

 .speakers-head {
 	margin-top: 100px;
 	margin-bottom: 60px;
 }

 .speakers-head h2 {
 	color: #6a7079;

 	text-transform: uppercase;
 }

 .speakers-main h3 {
 	color: #777a7d;

 	font-size: 20px;
 	text-transform: uppercase;
 }

 .speakers-main .item > div {
 	position: relative;
 }

 .speakers-main .item > div:hover .front {
 	opacity: 0.2;

 	cursor: pointer;
 }

 .speakers-main .item > div:hover .back {
 	opacity: 1;
 }

 .speakers-main .item > div:hover h3 {
 	color: #6bd8d3;
 }

 .speakers-main .item .front {
 	width: 140px;
 	height: 140px;
 	position: absolute;

 	/*For IE*/
 	left: 50%;
 	margin-left: -70px;
 }
 .speakers-main .item .back {
 	width: 140px;
 	height: 140px;
 	display: inline-block;

 	background-color: #6bd8d3;

 	border-radius: 50%;

 	opacity: 0;
 }

 .speakers-main .item div .back i {
 	color: #fff;

 	line-height: 140px;
 	font-size: 30px;
 }

 .speakers-footer {
 	margin-top: 70px;
 }

/* ==========================================================
 * Media query
 * ========================================================== */

 @media screen and (max-width: 1200px) {

 }

 @media screen and (max-width: 992px) {

	.speakers {
		padding: 20px 0;
	}

	.speakers-head,
	.speakers-footer {
		margin: 20px 0;
	}
 }

 @media screen and (max-width: 767px) {
	
	.speakers-main .item {
		margin-bottom: 30px;
	}
 }

 @media screen and (max-width: 630px) {

 	.header {
 		min-height: 320px;
 	}

 	.header-center {
 		max-width: 320px;
 	}

 	.header-center h1 {
 		font-size: 20px;
 	}

 	.header-center p {
 		font-size: 16px;
 	}

 	.header-center .btn {
 		font-size: 15px;
 	}
 }

 @media screen and (max-width: 480px) {

 } 
